[user]
	name = Primitivo R. Montero
	email = cibercafe_montero@hotmail.com

[push]
    default = upstream

[remote "origin"]
    fetch = +refs/heads/*:refs/remotes/origin/*
    fetch = +refs/pull/*/head:refs/remotes/origin/pr/*

[core]
    autocrlf = true

[rebase]
    autosquash = true

[credential]
	helper = gnome-keyring
