[user]
	name = primitivorm
	email = cibercafe_montero@hotmail.com

[push]
    default = upstream

[remote "origin"]
    fetch = +refs/heads/*:refs/remotes/origin/*
    fetch = +refs/pull/*/head:refs/remotes/origin/pr/*

[core]
    autocrlf = true
    editor = vim

[merge]
    tool = vimdiff
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false

[rebase]
    autosquash = true
[credential]
	helper = /usr/bin/git-credential-gnome-keyring
