"*":
  core:
    projectHome: "/home/latino/src/"
    themes: [
      "atom-dark-ui"
      "selly-syntax-ide"
    ]
  editor:
    fontFamily: "Fira Mono"
    fontSize: 12
  "exception-reporting":
    userId: "42052f43-3441-4ef3-82f4-65fb8b1b4580"
  welcome:
    showOnStartup: false
