[user]
	name = PrimitivoRM
	email = cibercafe_montero@hotmail.com

[gui]
	recentrepo = C:/Users/proman02/vimfiles
    recentrepo = C:/Users/proman02/dotfiles

[push]
    default = upstream

[core]
    autocrlf = true
	trustctime = false
	editor = vim
    filemode = false
	longpaths = true

[rebase]
    autosquash = true

[color]
    ui = true

[credential]
    helper = wincred

[merge]
    tool = vimdiff

[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
    trustexitcode = false

[alias]
	last = log -1 --stat
	a = add .
	cp = cherry-pick
	co = checkout
	cl = clone
	cm = commit -m
	st = status -sb
	br = branch
	unstage = reset HEAD --
	dc = diff --cached
	pl = pull --recurse-submodules
	ph = push
	s = status
	r = rebase
	rc = rebase --continue
	rd = rebase development
	plr = pull --rebase
    lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'\n--abbrev-commit --date=relative
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
