"*":
  "atom-beautify":
    general:
      _analyticsUserId: "e41755fc-0a88-458c-997d-6a44e6661d10"
  "atom-terminal":
    app: "/usr/bin/gnome-terminal"
  "clang-format":
    executable: "clang-format"
    formatCOnSave: true
    formatCPlusPlusOnSave: true
  core:
    disabledPackages: [
      "terminal-tab"
    ]
    projectHome: "/home/latino/src/"
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 16
    invisibles: {}
  "exception-reporting":
    userId: "42052f43-3441-4ef3-82f4-65fb8b1b4580"
  "linter-gcc":
    gccDefaultCFlags: "-c -Wall -std=c11"
    gccSuppressWarnings: true
  "linter-ui-default":
    showPanel: true
  minimap:
    charHeight: 3
    charWidth: 1.5
    moveCursorOnMinimapClick: true
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  welcome:
    showOnStartup: false
  "you-complete-me":
    globalExtraConfig: "C:/Users/Proman02/vimfiles/_ycm_extra_conf.py"
    ycmdPath: "C:/Users/Proman02/vimfiles/bundle/YouCompleteMe/third_party/ycmd"
